<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Dscription</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do|article| %>
        <tr>
            <td> <%= article.title %></td>
             <td> <%= article.description %> </td>
              <td> palcesholde </td>
        </tr>
        <% end %>
    </tbody>
</table>